{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <section class = "signup-form">
        <h1> 회원가입 </h1>
        <form action="{% url 'user:signup' %}" method="POST">
            {% csrf_token %}
            <div class="int-area">
                <input type="text" name="email" id="id"
                autocomplete="off" required>
                <label for = "email">E-MAIL </label>
            </div>
            <div class="int-area">
                <input type="text" name="username" id="username"
                autocomplete="off" required>
                <label for = "username"> USER NAME </label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="password"
                autocomplete="off" required>
                <label for = "password"> PASSWORD </label>
            </div>
            <div class="int-area">
                <input type="password" name="passwordcheck" id="passwordcheck"
                autocomplete="off" required>
                <label for = "passwordkcheck"> PASSWORD CHECK </label>
            </div>
            {% if error %}
                <div class='alert alert-danger' role='alert'>
                    {{error}}
                </div>
            {% endif %}
            <div class="btn-area">
                <button id ="btn" type="submit"> 회원가입 </button>
            </div>
            <div class="btn-area">
                <button id ="btn" type="submit" onclick = "location.href='../login/';"> 로그인 페이지로 이동 </button>
            </div>
        </form>
    </section>