<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class="wrapper" style="text-align: center";>
        <h1> 회원가입 </h1>
        <form action="{%url 'user:signup' %}" method="POST">
            {% csrf_token %}
            이메일: <input name="email" type="email">
            <br><br>
            사용자명 : <input name='username' type="text">
            <br><br>
            비밀번호: <input name='password' type="password">
            <br><br>
            비밀번호 확인 : <input name='passwordcheck' type="password">
            <br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>